%h1 A Dashboard of Information
%br
= link_to "Open Visitor Registration Module", new_organization_guest_path, :class => 'btn btn-lg btn-success' #removed (@organization.id)
%br
This starts the public facing visitor registration program
%br
