.page-header
  %h2 
    Dashboard - [Organization Name]
    .btn-group.pull-right
      %button.btn.btn-default.active{type: "button"} Today
      %button.btn.btn-default{type: "button"} Week
      %button.btn.btn-default{type: "button"} Month

.row
  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Visitor Count
      %h2.center 75

  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Visitor Count
      %h2.center 75

  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Messages Sent
      %h2.center 150

  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Time Saved
      %h2.center 75 Min 

.clearfix

%br
%h3.panel.panel-default.panel-heading.center Visitor Records

=will_paginate @guests, previous_label: h("Back"), next_label: h("Forward"), renderer: BootstrapPagination::Rails



%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th Phone Number
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th 
      %th Actions

  %tbody
    - @guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td 
          = guest.email
        %td
        %td  
        %td 
        %td 
          = guest.created_at.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td
        %td
%br        