.page-header
  %h2 
    Dashboard - [Organization Name]
    .btn-group.pull-right
      %button.btn.btn-default.active{type: "button"} Today
      %button.btn.btn-default{type: "button"} Week
      %button.btn.btn-default{type: "button"} Month
      %button.btn.btn-default{type: "button"} Quarter

=will_paginate @guests, previous_label: h("Back"), next_label: h("Forward"), renderer: BootstrapPagination::Rails

%h4 Visitor Records

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th Another Data Point
      %th Another Data Point
      %th Visit Reason
      %th Date
      %th Time
      %th 
      %th Actions

  %tbody
    - @guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td 
          = guest.email
        %td
        %td  
        %td 
        %td 
          = guest.created_at.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td
        %td
%br
%hr