Index
.page-header
  %h1 
  =# t '.title', :default => model_class.model_name.human.pluralize



%table.table-striped
  %thead
    %tr
      %th
      %th
      %th
      %th
      %th Visiting Reason
      %th 
      %th 
      %th 

  %tbody
    - @guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td 
          = guest.email
        %td
        %td  
        %td 
        %td 
          = guest.created_at.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td
