.form-actions
  .row
    .organization-logo-container
      =image_tag("your_business_logo_here_small.png")


.row.btn-grid
  %br
    .h3 Welcome to [Organization Name]. What brings you in today?
  %br
  .form-navigation
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.icon-calendar.icon-white
        Meeting
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.icon-calendar.icon-white
        Drop In    
    %a(href="/tour_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.icon-map-marker.icon-white
        Tour
    %a(href="/event_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.icon-group.icon-white 
        Event
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.icon-calendar.icon-white
        Meeting    
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.icon-calendar.icon-white
        Other 
    
.row  
  .bottom-logo-container
    =image_tag("SignInEasyLogo-bottom.png")        

/ .form-holder
/   = render 'form'


