
.row
  .organization-logo-container
    =image_tag("your_business_logo_here_small.png")


.row.btn-grid
  %br
    Welcome to [Organization Name]. What brings you in today?
  %br
  .form-navigation
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-lg")
        %i.icon-calendar.icon-white
        Scheduled Meeting
    %a(href="/tour_form")
      %button(type="submit" class="btn btn-primary btn-lg")
        %i.icon-map-marker.icon-white
        Scheduled Tour
    %a(href="/event_form")
      %button(type="submit" class="btn btn-primary btn-lg")
        %i.icon-group.icon-white 
        Scheduled Event
    %a(href="/information_form")
      %button(type="submit" class="btn btn-primary btn-lg")
        %i.icon-envelope.icon-white#guest-icon-envelope 
        Other Reason
    
.row  
  .bottom-logo-container
    =image_tag("SignInEasyLogo-bottom.png")        

/ .form-holder
/   = render 'form'


