.form-actions
  .row
    .organization-logo-container
      =image_tag("your_business_logo_here_small.png")
    .visitor-ui-home-icon
      =link_to '', organization_static_pages_dashboard_path
      %i.fa.fa-cog.icon-black

      

.row.btn-grid
  %br
    .h3 Welcome to [Organization Name]. What brings you in today?
  %br
  .form-navigation
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.fa.fa-calendar.icon-white
        Meeting
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.fa.fa-user.icon-white
        Drop In    
    %a(href="/tour_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.fa.fa-location-arrow.icon-white
        Tour
    %a(href="/event_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.fa.fa-group.icon-white 
        Event
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.fa.fa-info-circle.icon-white
        Information    
    %a(href="/meeting_form")
      %button(type="submit" class="btn btn-primary btn-xxlg")
        %i.fa.fa-question-circle.icon-white
        Other 
    
.row  
  .bottom-logo-container
    =image_tag("SignInEasyLogo-bottom.png")        

/ .form-holder
/   = render 'form'


