.row
  .organization-logo-container
    =image_tag("your_business_logo_here_small.png")

  .btn-grid.show-page-text
    %br
    %h3 
      Thanks for registering, 
      = @guest.name
    %br  
    %h3 If you are visiting someone, they have been notified you're here.
    / %h2 (You also got a cool e-mail with wifi information and our user policies)
    %br
    %p Redirecting back to the registration page in a moment...
    =# link_to "or go now", new_organization_guest_path, id: "link"

.row  
  .bottom-logo-container
    =image_tag("SignInEasyLogo-bottom.png")    

:javascript
// redirect to new guest page after 4 seconds
  window.setTimeout(function() {
     window.location.href='#{new_organization_guest_path(@guest.organization_id)}'
  }, 5000);