.row
  .organization-logo-container
    =image_tag("1871_plate_logo_2in.jpg", :width => '300')

  .btn-grid.show-page-text
    %br
    %h2 
      Thanks for registering, 
      = @guest.name.split.first
    %br  
    %h2 If you are visiting someone, they have been notified you're here.
    %h2 Please take a seat in the waiting area.
    %br
    =# link_to "or go now", new_organization_guest_path, id: "link"

.row  
  .bottom-logo-container
    =image_tag("SignInEasyLogo-bottom.png")    

:javascript
// redirect to new guest page after 4 seconds
  window.setTimeout(function() {
     window.location.href='#{new_organization_guest_path(@guest.organization_id)}'
  }, 5000);