<h1>Admin#show</h1>
<p>Find me in app/views/admin/show.html.erb</p>

<hr>
<ul class="admin-table"> 
<% @objects.each do |object| %>
  <li>
    <h3> <%= object.model %> </h3>
    <table class="table table-striped">
      <thead>
        <% important_columns(object).each do |column| %>  
          <th> <%= column %> </th>
        <% end %>
        <th> Edit </th>
        <th> Destroy </th>
      </thead>
      <tbody>
        <% object.each do |obj| %>
          <tr>
            <% important_attributes(obj).each do |key, value| %>
              <td><%= value %> </td>
            <% end %>
            <td> Edit </td>
            <td> Delete </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </li>
<% end %>
</ul>