.radio-btn
  margin-left: 10px

.radio
  padding-top: 5px

.form-actions
  background: white
  border-top: none

/* Button Styling */

.btn-grid-center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.btn-grid
  position: relative
  top: 160px
  bottom: 100px
  text-align: center

.bottom-logo-container
  position: fixed
  margin-left: -96.5px
  bottom: 25px
  left: 50%  

.organization-logo-container
  position: fixed
  margin-left: -97.5px
  top: 25px
  left: 50%

.btn-xxlg
  margin: 20px 20px 20px 20px
  padding: 5px
  height: 150px
  min-width: 25%
  font-size: 35px
  line-height: normal
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px  

.navbar-visitor-ui.navbar-default
  background-color: #FFF
  border-color: #FFF

#guest-form-input-name, #guest-form-input-email, #employee_autcomplete
  font-size: 24pt
#employee_autcomplete
  line-height: 1.25em

