.radio-btn
  margin-left: 10px

.radio
  padding-top: 5px

.visitor-ui-form
  background: white
  border-top: none

/* Button Styling */

.btn-grid-center
  position: relative
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.btn-grid
  position: relative
  padding-top: 10%
  /* bottom: 100px
  text-align: center
  height: 100%

.bottom-logo-container
  position: fixed
  margin-left: -96.5px
  bottom: 25px
  left: 50% 

.organization-logo-container
  position: fixed
  margin-left: -97.5px
  top: 25px
  left: 50%
  z-index: 1

.visitor-ui-home-icon
  position: fixed
  top: 5px
  right: 5px
  font-size: 20px

.visitor-ui-refresh-icon
  position: fixed
  top: 5px
  left: 5px
  font-size: 20px  

.btn-xxlg
  margin: 20px 20px 20px 20px
  padding: 5px
  height: 150px
  min-width: 25%
  font-size: 35px
  line-height: normal
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px  

.btn-xlg
  margin: 20px 20px 0px 20px
  padding: 5px
  height: 75px
  min-width: 35%
  font-size: 35px
  line-height: normal
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px    

.navbar-visitor-ui
  background-image: none
  background: transparent
  box-shadow: none
  -webkit-box-shadow: none
  border: none

.center-buttons
  text-align: center

.form-with-host
  top: 100px

.form-without-host
  top: 100px  

.center
  text-align: center

#top-row
  height: 20%

#button-row
  max-height: 75%

#bottom-row
  height: 5%    

.group:after
  content: ""
  display: table
  clear: both  

#guest-form-input-name, #guest-form-input-email, #employee_autcomplete
  font-size: 24pt
#employee_autcomplete
  line-height: 1.25em

